

@media (max-width: 991px) {
    header.header.fixed-top,
    .header .navbar-nav {
        background-color: #ffffff;
        box-shadow: 0 3px 16px 0 rgba(0,0,0,.22);
    }

    .header .navbar-nav.menu_nav {
        width: 100%;
        margin-left: 0px;
    }
    .header .navbar #collapsibleNavbar .nav-item .nav-link {
        padding: 10px 15px 10px;
    }
    .header .navbar-light .navbar-toggler {
        background-color: #ffffff;
        padding: 0;
        height: 38px;
        width: 45px;
        border: none;
        box-shadow: 0 3px 16px 0 rgba(0,0,0,.22);
    }
    .header .navbar-light .navbar-toggler:focus {
        outline: none;
    }
    .header .navbar-light .navbar-toggler-icon {
        background-image: none;
        height: 2px;
        width: 24px;
        position: relative;
        background-color: var(--secondary);
    }
    .header .navbar-light .navbar-toggler-icon::after,
    .header .navbar-light .navbar-toggler-icon::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        top: -6px;
        background-color: var(--secondary);
    }
    .header .navbar-light .navbar-toggler-icon::after {
        top: 6px;
    }

    .about-section .about-img .img-thumbnail {
        -o-object-fit: cover;
        border-radius: 50%;
        display: block;
        height: 250px;
        margin: 0 auto 40px auto;
        object-fit: cover;
        width: 250px;
        }
    
    
}

@media (max-width: 767px) {
    .home-section .block h1 {
        font-size: 40px;
        line-height: 44px;
    }

}

@media (max-width: 575px) {

     /* Services Section */
     .services-section .services-item {
        padding-left:65px !important;
      }
    .services-section .services-item .icon {
        left: 0;
      }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .extrafont{
        margin-top: 50px;
        font-size: 50px !important;
      }
      .buttonTitle{
          font-size: 24px !important;
      }
}